:root {
  --primary-color-button: #722ed1;
  --background-color-button: #ffffff;
  --text-ligth-color: #ffffff;
  --background-color-sign: #f7f1ff;
  --text-color-primary: #160637;
  --text-color-secundary: #8989a2;
}

body{
  margin: 0px;
  padding: 0px;
}

.container{
  margin: 20px 200px;
}

.btn{
  border-color: var(--primary-color-button);
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  border: none;
  background-position: center;
}

.btn-border{
  border: 2px solid var(--primary-color-button)
}

.btn-nav{
  background-color: var(--background-color-button);
  color: var(--primary-color-button);
}

.btn-primary{
  background-color: var(--primary-color-button);
  color: var(--text-ligth-color);
}

.icon-logo{
  background: url(/images/logo.svg);
  width: 50px;
  height: 50px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}   

.nav-header{
  display: flex;
  justify-content: space-between;
}

.nav-header ul{
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: flex-end;
}

.nav-header ul li a{
  margin: 0px 20px;
  text-decoration: none;
  color: #000000;
}

.sing{
  background-color: var(--background-color-sign);
  /* color:var(--color-primary-one); */
  font-weight: bold;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 10px 25px;
  border-radius: 25px;
}

.sing span{
  color: var(--primary-color-button); 
}


.header{
  height: 600px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.bg-header{
  background: url(/images/bg-header.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
 
}

.header-title h1{
  font-size: 60px;
}

.header-title p{
  font-size: 18px;
  color: var(--text-color-secundary);
}

.header-title div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.header > div:last-child{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}